{% extends 'base.html' %}

{% block title %}О компании - Автомобили Баварии{% endblock %}

{% block content %}
<div class="about-container">
    <h2>О компании</h2>
    <p>
        <strong>«SHOP AVANGARD»</strong> — официальный магазин хоккейной атрибутики  <strong>хк "Авангард"</strong> в России. Уже более <strong>20 лет</strong> мы с гордостью представляем легендарный хоккейный клуб на отечественном рынке, сочетая уже привычные коллекции с новыми интересными решениями.
    </p>
    <p>
        Мы располагаем широкой сетью магазинов по всей стране, от Москвы до Владивостока. В каждом из наших магазинов вас встретит профессиональная команда, готовая помочь в выборе идеального мерча и предложить индивидуальные условия покупки, учитывая вашу активность в приложении.
    </p>
    <p>
        Все товары, приобретённые у нас, имеют официальную <strong>гарантию качества сроком 3 месяца</strong>. Мы уверены в качестве продукции SHOP AVANGARD и поддерживаем клиентов на всех этапах покупки — от регистрации до получения в магазинах на местах.
    </p>
</div>
{% endblock %}
