<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SHOP AVANGARD{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1 class="company-name">Хоккейный клуб Авангард.</h1>
        <nav>
            <a href="{% url 'home' %}">Главная</a>
            <a href="{% url 'about' %}">О компании</a>
            <a href="{% url 'contact' %}">Обратная связь</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 HAWK AVANGARD OMSK</p>
    </footer>
</body>
</html>
